.signup-form-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    /* background-color: rgb(126, 232, 99); */
}

.signup-form-left {
    display: flex;
    position: fixed;
    flex-direction: column;
    /* align-items: center; */
    /* overflow-y: hidden; */
    height: 100%;
    width: 50%;
    background-color: rgb(126, 232, 99);
    border-right: solid 1px black;
    /* border: solid 1px red; */
}

#robinHoodLogo {
    height: 32px;
    margin-top: 4px;
    margin-right: 4px;
    /* border: solid 1px red; */
}

.signup-form-left-text {
    display: flex;
    margin-left: 45px;
    font-size: 70px;
    font-weight: 400;
    width: 75%;
    margin-top: 100px;
    /* border: solid 1px red; */
}

.starting-buying-power {
    display: flex;
    font-size: 14px;
    width: 75%;
    margin-left: 65px;
    margin-top: -20px;
    /* border: solid 1px red; */
}

#signup-form-stockblocks {
    width: 100%;
    margin-top: 120px;
}

.signup-form-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    min-height: 630px;
    overflow-y: auto;
    width: 50%;
    box-sizing: border-box;
    /* border: solid 1px blue; */
}

.signup-form-right-inner {
    display: flex;
    width: 80%;
    margin-top: -30px;
    padding-bottom: 20px;
    /* border: solid 1px red; */
}

.signup-form-right-header {
    font-size: 20px;
    font-weight: 450;
    margin-bottom: 50px;
    line-height: 27px;
}

#signup-first-and-last {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    /* border: solid 1px blue; */
}

.first-and-last-input {
    width: 47%;
    height: 62px;
    font-size: 18px;
    text-indent: 8px;
    border-radius: 0;
    box-sizing: border-box;
    border: solid 1px #E8E8E8;
    transition : border 150ms ease-out;
}

.first-and-last-input:hover {
    border: solid 1px #A9A9A9;
}

.first-and-last-input:focus {
    border: solid 1px black;
    border-radius: 0;
    outline: none;
}

.first-and-last-input:focus::placeholder{
    color: 	#BEBEBE;
}

.signup-form-inputs {
    width: 100%;
    height: 62px;
    font-size: 18px;
    margin-bottom: 25px;
    text-indent: 8px;
    border-radius: 0;
    box-sizing: border-box;
    border: solid 1px #E8E8E8;
    transition : border 150ms ease-out;
}

.signup-form-inputs:hover {
    border: solid 1px #A9A9A9;
}

.signup-form-inputs:focus {
    border: solid 1px black;
    border-radius: 0;
    outline: none;
}

.signup-form-inputs:focus::placeholder {
    color: 	#BEBEBE;
}

.signup-form-password-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 62px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 0;
    box-sizing: border-box;
    border: solid 1px #E8E8E8;
    transition : border 150ms ease-out;
}

#signup-form-password-input:hover {
    border: solid 1px #A9A9A9;
}

.signup-form-password-input-focus {
    border: solid 1px black;
}

#signup-form-password {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    text-indent: 8px;
    font-size: 18px;
    border: none;
}

#signup-form-password:focus {
    outline: none;
}

#signup-form-password:focus::placeholder {
    color: 	#BEBEBE;
}

#signup-closed-eye {
    display: none;
    z-index: -1;
}

.signup-form-right-bottom {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 120px;
    bottom: 0px;
    box-sizing: border-box;
    background-color: white;
    border: solid 1px black;
    border-right: none;
    border-bottom: none;
}

.signup-form-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    /* border: solid 1px red; */
}

.signup-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 150px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    background-color: black;
    border-radius: 30px;
    z-index: -1;
}

.signup-form-submit-hover {
    /* visibility: hidden; */
    position: fixed;
    height: 44px;
    width: 150px;
    border-radius: 30px;
    /* background-color: rgba(180, 180, 180, 0.25); */
    bottom: 37.5px;
    right: 5%;
    box-sizing: border-box;
    cursor: pointer;
}

.signup-form-submit-hover:hover{
    background-color: rgba(180, 180, 180, 0.22);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.signup-error-message {
    display: flex;
    font-size: 13px;
    color: rgb(255, 80, 0);
    margin-top: -17px;
    margin-bottom: 20px;
    /* border: solid 1px red; */
}

.signup-error-message-first-and-last {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 13px;
    color: rgb(255, 80, 0);
    margin-top: -17px;
    margin-bottom: 20px;
    /* border: solid 1px red; */
}

.signup-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 175px;
    height: 38px;
    top: 40px;
    left: 40px;
    cursor: pointer;
    /* border: solid 1px red; */
}

.signup-logo-text {
    font-size: 24px;
    padding-top: 4.5px;
    padding-left: 5px;

}

#please-enter-first-name, #please-enter-last-name {
    width: 47%;
    /* border: solid 1px blue; */
}

.red-border {
    border: solid 1px rgb(255, 80, 0);
}

.red-border:hover {
    border: solid 1px rgb(255, 80, 0);
}

.red-border:focus {
    border: solid 1px rgb(255, 80, 0);
}

@media (max-width: 775px) {
    .signup-form-left {
        display: none;
        z-index: -1;
    }
    .signup-form-right {
        width: 100%;
        margin-left: 0px;
    }
    .signup-form-right-bottom {
        width: 100%;
    }
    .signup-form-submit-hover {
        right: 10%;
    }
}
