.dashboard-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

.dashboard-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1367px;
    min-width: 1020px;
    height: 100%;
    margin-left: 12px;
    /* margin-right: 20px; */
    box-sizing: border-box;
    /* border: solid 1px blue; */
}

.dashboard-inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72.8%;
    box-sizing: border-box;
    /* border: solid 1px pink; */
}

.dashboard-graph-wrapper {
    display: flex;
    height: 353px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px turquoise;
}

.buying-power-wrapper {
    display: flex;
    align-items: flex-end;
    min-width: 104%;
    height: 91.5px;
    box-sizing: border-box;
    /* border-bottom: solid 1px rgb(224,224,232); */
}

.buy-power-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-weight: 550;
    /* border: solid 1px green; */
    border-radius: 5px;
    cursor: pointer;
}

.buy-power-div:hover {
    background-color: 	#F0F0F0;
}

#buying-power {
    margin-left: 2%;
}

#buying-power-amount {
    margin-right: 2%;
}



.dashboard-inner-left-borders {
    width: 100%;
    height: 1px;
    border-top: solid 1px rgb(224,224,232);
}

@media (max-width: 1440px) {
    .dashboard-wrapper {
        justify-content: flex-start;
    }
    .dashboard-inner-wrapper {
        margin-left: 34px;
        margin-right: 20px;
    }
}

/* Watchlist CSS start */

.dashboard-watchlists-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 23.75%;
    box-sizing: border-box;
    border: solid 1px rgb(224,224,232);
    border-radius: 4px;
    padding: 10px;
}

.watchlists-header-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    /* border-bottom: solid 1px silver; */
}


.watchlist-list-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}

.watchlist-list {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    width: 100%;

}
.watchlist-header-title {
    width: 50px;
    height: 20px;
    font-weight: 620;
}

.watchlist-add-button {
    height: 30px;
    max-height: 10px;
    font-size: 16px;
}

.watchlist-add-button:hover, .watchlist-expand-button:hover {
    color: rgb(69, 211, 69);
}

.watchlist-picture {
    width: 30px;
}

.watchlist-navlink {
    margin-top: 5px;
    max-width: 200px;
}

.watchlist-list:hover {
    background-color: rgb(238, 238, 235);

}

.watchlist-stocks-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
}

.watchlist-price-today {
    display: flex;
    flex-direction: column;
}


/* Watchlist CSS End */
