.login-form-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* border: solid 1px red; */
    box-sizing: border-box;
}

.login-form-image {
    min-width: 50%;
    object-fit: cover;
}

.login-form-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: solid 1px red; */
}

.login-form-right-inner {
    display: flex;
    flex-direction: column;
    width: 83.5%;
    height: 50%;
    min-height: 460px;
    min-width: 300px;
    /* border: solid 1px turquoise; */
}

#log-in-to-robinhood {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 13px;
}

.login-form-labels {
    font-size: 13px;
    margin-top: 27px;
}

.login-form-inputs {
    margin-top: 10px;
    height: 36px;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    border: solid 1px #E8E8E8;
    border-radius: 4px;
    transition : border 150ms ease-out;
    padding-left: 10px;
    padding-right: 10px;
}

.login-form-inputs:hover {
    border: solid 1px #C0C0C0;
}

.login-form-inputs:focus {
    border: solid 1px rgb(0, 180, 5);
    outline: none;
}

.password-div {
    display: flex;
    /* border: solid 1px red; */
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    border: solid 1px #E8E8E8;
    border-radius: 4px;
    transition : border 150ms ease-out;
}

#password-hover:hover {
    border: solid 1px #C0C0C0;
}

.password-div-focus {
    border: solid 1px rgb(0, 180, 5);
    outline: none;
}

#password {
    margin-top: 0px;
    border: none;
}

.password-visibility {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 13px;
    margin-right: 7px;
    width: 30px;
    height: 25px;
    /* border: solid 1px blue; */
    border-radius: 5px;
}

.password-visibility:hover {
    background-color: #E8E8E8;
}

.password-visibility:active {
    background-color: #D8D8D8;
}

#closed-eye {
    display: none;
    z-index: -1;
}

.demo-user-login {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 25px;
    text-underline-offset: 2px;
    cursor: pointer;
    width: fit-content;
}

.demo-user-login:hover {
    color: rgb(0, 180, 5);
}

.login-form-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    max-width: 420px;
    height: 45px;
    background-color: rgb(245, 248, 250);
    border-radius: 5px;
    /* border: solid 1px red; */
    box-sizing: border-box;
}

#circle-i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: solid 2px black;
    border-radius: 75%;
    width: 15px;
    height: 14px;
    padding-bottom: 1px;
    margin-left: 12px;
}

.unable-to-login {
    font-size: 13px;
    margin-left: 12px;
}

#log-in-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 44px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: solid 1px black;
    border-radius: 21px;
    box-sizing: border-box;
    cursor: pointer;
}

#not-on-robinhood {
    margin-top: 40px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media (max-width: 775px) {
    .login-form-image{
        display: none;
        z-index: -1;
    }
}
