.wacthlist-add-list-page {
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
}

.add-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  /* top: 100px; */
  height: 44px;
  width: 192px;
  border-radius: 25px;
  border: 1px solid #ff5404;
  color: #ff5404;
  /* padding: 8% 20%; */
  /* margin: 3% 6%; */
  font-size: 13px;
  font-weight: 700;
}

.add-form {
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.add-form-title {
  padding-bottom: 10px;
}

.add-label {
  padding: 5px;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.add-cancel-button {
  border-radius: 25px;
  border: 1px solid #ff5404;;
  color: #ff5404;;
  padding: 8% 20%;
  margin: 3% 6%;
  font-size: 13px;
  font-weight: 800;
}

.add-create-list-button {
  border-radius: 25px;
  border: 1px solid #ff5404;;
  background-color: #ff5404;;
  color: white;
  padding: 8% 20%;
  margin: 3% 6%;
  font-size: 13px;
  font-weight: 800;
}
