.wacthlist-add-list-page {
  font-family: Capsule Sans Text, -apple-system, BlinkMacSystemFont, sans-serif;
}

.add-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  min-height: 44px;
  max-height: 44px;
  max-width: 280px;
  width: 280px;
  min-width: 205px;
  /* top: 100px; */
  /* height: 44px;
  width: 192px; */
  border-radius: 25px;
  border: 1px solid #ff5404;
  color: #ff5404;
  /* padding: 8% 20%; */
  /* margin: 3% 6%; */
  font-size: 13px;
  font-weight: 700;
}

.add-form {
  /* padding: 20px; */
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 5px;
}

.add-form-title {
  padding-bottom: 10px;
}

.add-label {
  padding: 5px;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.add-cancel-button {
  border-radius: 25px;
  border: 1px solid #ff5404;
  ;
  color: #ff5404;
  ;
  padding: 8% 20%;
  margin: 3% 6%;
  font-size: 13px;
  font-weight: 800;
}

.add-create-list-button {
  border-radius: 25px;
  border: 1px solid #ff5404;
  ;
  background-color: #ff5404;
  ;
  color: white;
  padding: 8% 20%;
  margin: 3% 6%;
  font-size: 13px;
  font-weight: 800;
}

#add-stock-to-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 280px;
  padding-top: 20px;
  font-weight: 450;
  /* border: solid 1px red; */
  /* padding-bottom: 20px; */
}

#add-form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding-left: 5px;
  /* border: solid 1px blue; */
}

#add-to-form-x {
  display: flex;
  /* border: solid 1px purple; */
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
}

#add-to-form-x:hover {
  background-color: rgb(245,248,252);
}

#add-to-lists-submit {
  width: 170px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 17px;
}

#add-label {
  font-size: 14px;
  font-weight: 400;
}

#add-to-lists-input-container {
  max-width: 200px;
  overflow: hidden;
  margin-right: 20px;
  /* border: solid 1px red; */
}

/* .add-to-lists-radio {
  margin-left: -30px;
} */
