.stock-dashboard-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

.stock-dashboard-inner-wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    max-width: 1367px;
    min-width: 1020px;
    height: 100%;
    margin-left: 12px;
    /* margin-right: 20px; */
    box-sizing: border-box;
    /* border: solid 1px blue; */
}

.stock-dashboard-inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72.8%;
    box-sizing: border-box;
    /* border: solid 1px pink; */
}

.stock-dashboard-graph-wrapper {
    display: flex;
    height: 373px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px turquoise;
}

.stock-dashboard-buy-sell-wrapper {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    height: fit-content;
    width: 23.75%;
    box-sizing: border-box;
    border: solid 1px rgb(224, 224, 232);
    border-radius: 4px;
    padding: 10px;
}

.stock-dashboard-right-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    width: 15%;
}
