.watchlist-main-container-wrapper {
  display: flex;
  justify-content: center;
  min-width: 1020px;
}

.main-container {
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Capsule Sans Text, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 100px;
  margin-left: 10px;
  min-width: 1020px;
  box-sizing: border-box;
  /* border: solid 1px red; */
}

#watchlist-page-watchlist {
  min-width: 276px;
}

.watchlist {
  display: flex;
  flex-direction: column;
  min-width: 690px;
  /* border: solid 1px blue; */
}

.picture-holder {
  width: 200px;
}

.picture {
  width: 70px;
}

.small-picture {
  width: 40px;
  margin-right: 10px;
}

.item-count {
  /* background-color: lavender; */
  margin-top: -5px;
  opacity: 50%;
  font-size: 14px;
}

#watchlist-page-watchlist {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
}

.watchlist-title {
  font-size: 25px;
  font-weight: 400;
  padding-top: 15px;
}

.watchlist-header {
  display: flex;
  /* background-color: red; */
  opacity: 50%;
  font-size: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid silver;
}


.watchlist-list-header {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  opacity: 50%;
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: 1px solid silver;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 20px;
  padding-top: 10px;
}

.watchlist-table {
  /* padding-left: 20px; */
  margin-top: 30px;
  /* border: solid 1px red; */
}

.watchlist-data {
  display: flex;
  align-items: center;
  /* background-color: greenyellow; */
  height: 59px;
  font-size: 14px;
  /* padding-top: 9px; */
  /* padding-bottom: 9px; */
  /* padding-right: 5px; */
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  /* border-right: 1px solid silver;
  border-left: 1px solid silver; */
  cursor: pointer;
}

.watchlist-data:hover {
  background-color: rgb(245, 248, 252);
}

.watchlist-data:hover .delete-button {
  background-color: rgb(245, 248, 252);
}

.watchlist-select {

  border: 1px solid rgb(227, 233, 237);
  width: 40%;
}

.name-column {
  width: 40%;
  /* font-weight: 700; */
}

#name-column {
  font-weight: 550;
  font-size: 13px;
}

#name-column-title {
  margin-right: -5px;
}

.symbol-column {
  width: 20%;
}

#symbol-column {
  font-size: 13px;
}

.price-column {
  width: 20%;
}

.today-column {
  width: 20%;
}

#watchlist-list-row {
  display: flex;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.watchlist-pic-and-navlink:hover {
  background-color: rgb(245, 248, 252);
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 90%;
  /* border: solid 1px red; */
}

.watchlist-pic-and-navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  overflow: hidden;
  padding: 2px;
  /* border: solid 1px green; */
}

.list-name {
  /* padding-top: 4%; */
  /* width: 20px; */
  min-width: 50%
}


.list-navlink-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-left: 5px;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px red; */
}

.add-form-input {
  width: 190px;
  height: 35px;
  background-color: rgb(245, 248, 252);
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid silver; */
  /* margin: 15px 5px 0px; */

}

.delete-button:hover,
.options-button:hover,
.add-button:hover {
  color: rgb(69, 211, 69);
  ;
}

.add-button {
  font-size: 24px;
}

.cancel-button {
  border-radius: 25px;
  border: 1px solid rgb(0, 200, 5);
  color: rgb(0, 200, 5);
  height: 36px;
  width: 96px;
  margin-right: 12px;
  /* padding: 8% 20%;
  margin: 3% 6%; */
  font-size: 13px;
  font-weight: 600;
}

.create-list-button-green {
  border-radius: 25px;
  border: 1px solid rgb(0, 200, 5);
  background-color: rgb(0, 200, 5);
  color: white;
  /* padding: 8% 20%;
  margin: 3% 6%; */
  height: 36px;
  width: 96px;
  font-size: 13px;
  font-weight: 600;

}

.create-list-button-red {
  border-radius: 25px;
  border: 1px solid #ff5404;
  background-color: #ff5404;
  color: white;
  /* padding: 8% 20%;
  margin: 3% 6%; */
  height: 36px;
  width: 96px;
  font-size: 13px;
  font-weight: 600;

}

.add-button-holder {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  justify-content: center;
  /* width: 200px */
}

.options-menu {
  border: 1px solid rgb(227, 233, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  width: 100px;
  height: 65px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  /* margin-top: 5px; */
  border-radius: 5px;
  margin-left: -80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* margin-right: 4000px; */
}

/* .options-icon-text{
  width:100px;
} */

.options-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  padding: 5px;
  /* padding: 5px; */
  /* width: 90px; */
  /* padding-right: 20px; */
}

.update-modal {
  /* padding: 25px; */
  width: 270px;
}

.update-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.update-modal-title {
  display: flex;
  /* text-indent: 20px; */
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 450;
  width: 90%;
  margin-left: 5%;
  padding-left: 5px;
  /* border: solid 1px red; */
}

#update-modal-input {
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  text-indent: 8px;
  background-color: rgb(245, 248, 252);
  margin-top: -10px;
}

#save-update-watchlist {
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  margin-bottom: -10px;
  margin-top: 15px;
  margin-bottom: 0px;
}

#modal-content {
  border-radius: 5px;
}

.delete-button {
  font-size: 15px;
}

.fa-regular,
.fa-solid {
  /* padding-top: 4px; */
  font-size: 14px
}

h3 {
  font-weight: 400;
  font-size: 24px;

}

button {
  border: none;
  background-color: white;
}
