#chart .apexcharts-xaxistooltip {
    background: transparent;
    border: none;
    padding-bottom: 0;
    font-weight: bold;
}

#chart .apexcharts-xaxistooltip-bottom:before {
    opacity: 0
}

#chart .apexcharts-xaxistooltip-bottom:after {
    opacity: 0
}


#chart{
    height: 70%;
    width: 80%;
}
.main-stock-page-wrapper {
    border: 5px solid pink;
    box-sizing: border-box;
    width: 70%;
    height: 50%;
}


/* Watchlist CSS */
.add-to-watchlists{
    /* border: 1px solid silver; */
    margin-left: 20px ;
    margin-top: 50px;
}

.add-to-watchlists-button {
    border: 1px solid rgb(255,80,0);
    border-radius: 25px;
    border: 1px solid rgb(255,80,0);
    background-color: white;
    color: rgb(255,80,0);
    padding: 8% 20%;
    margin: 3% 6%;
    font-size: 12px;
    font-weight: 700;
    width: 170px;
}

.stock-name {
    border-bottom: 1px solid silver;
    /* border-radius: 5px; */
}


.stock-info-holder {
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 20px;
}

.stock-page-outer {
    display: flex;
    flex-direction: row;
}

/* End Watchlist CSS */
