#chart .apexcharts-xaxistooltip {
    background: transparent;
    border: none;
    padding-bottom: 0;
    font-weight: bold;
}

#chart .apexcharts-xaxistooltip-bottom:before {
    opacity: 0
}

#chart .apexcharts-xaxistooltip-bottom:after {
    opacity: 0
}


#chart{
    height: 100%;
    width: 100%;
    /* border: 2px solid green; */
}
.main-stock-page-wrapper {
    /* border: 5px solid pink; */
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.graph-holder{
    height: 100%;
    width: 100%;
}
